/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Futbol.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6; 
    z-index: -1; 
}

/* Contenedor de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.login-card {
    width: 350px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semi-transparente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.login-card h2 {
    margin: 0 0 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    background-color: #009688;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #009688;
}

.register-link {
    margin-top: 15px;
    font-size: 0.9em;
    color: #666;
}

.register-link a {
    color: #FF6347;
    text-decoration: none;
}

.register-link a:hover {
    color: #FF4500;
}
